{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page and page.meta and page.meta.description %}
    <meta name="description" content="{{ page.meta.description | e }}">
  {% elif config.extra.description %}
    <meta name="description" content="{{ config.extra.description | e }}">
  {% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if page and page.file and page.file.src_uri %}
    <div style="text-align:center; margin-top: 2em;">
      <a href="https://github.com/kagvi13/HMP/blob/main/docs/{{ page.file.src_uri }}"
         class="md-button md-button--primary" style="display:inline-flex; align-items:center; gap:0.3em;">
        {% include "partials/icons/github.svg" %}
        Исходный файл (.md)
      </a>
    </div>
  {% endif %}
{% endblock %}
